language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t rj1aditya/docker-react -f Dockerfile.dev .

script:
  - docker run  -e CI=true rj1aditya/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-388661005958"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"


    #Dockerreact-env.eba-mjdhqpav.us-east-2.elasticbeanstalk.com
